/*DAOUDA BA*/

/* Couleurs utilisées
#f2f2f2
#5FDD9D
#ccc
#000
*/

body{
  font-family: 'Ubuntu', sans-serif;
  background-image: url('code.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
}

h2{
  margin-left: 35%;
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bold;
}

div.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

form, label, input, .copy{
  display: block;
}
input[type=text], input[type=submit], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
}
input[type=submit] {
  color: #f2f2f2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #5FDD9D;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
}
input[type=submit]:hover{
  background-color: rgb(11, 160, 93);
}

.copy{
  font-size: 12px;
  color: #5FDD9D;
  font-weight: bold;
  margin-left: 30%;
}